@model WebApplication5.Models.shop

<form asp-action="AddKey" asp-controller="Home">
    <div class="form-group">
        <label asp-for="Name">говно</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Keys">дерьмо</label>
        <input asp-for="Keys" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price">залупа</label>
        <input asp-for="Price" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add Shop</button>
</form>